<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    <div>
        {{>header  title=this.title}}
    </div>
    

    <main>
        <div class="container">
            <H1 height="150px" style="margin-top: 80px;">{{title}}</H1>
            
            <form action="/product" method="POST" >
                <BR> ProductName:
                <input type="text" class="form-control" name="ProductName" id="ProductName">
                <BR> ProductCode:
                <input type="text" class="form-control" name="ProductCode" id="ProductCode">
                <BR> Price:
                <input type="number" class="form-control" name="Price" id="Price">
                <BR> Brand:
                <input type="text" class="form-control" name="Brand" id="Brand">
                <BR> ImgLink:
                <input type="text" class="form-control" name="ImgLink" id="ImgLink">
                 <input type="submit"  class="btn btn-primary" value="Create"> 
            </form>
        </div>        
    </main>
    

    {{>footer}}
</body>

</html>